.intro-container {
  width: 100%;
  padding: 10rem;
  background-color: #151515;
  background-image: linear-gradient(
      rgba(21, 21, 21, 0.2),
      rgba(21, 21, 21, 0.7)
    ),
    url("/introbg.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.lp-sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.lp-content {
  background-color: transparent;
  flex: 0.6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  max-width: 100%;
}

.lp-content h1 {
  background-color: transparent;
  font-weight: bold;
  font-size: 2.5rem;
}

.lp-content p {
  background-color: transparent;
  font-weight: lighter;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.start {
  background-color: transparent;
  border: 2px solid #83158b;
  display: inline-block;
  width: auto;
  max-width: 400px;
  transition: transform 0.2s ease; /* Add transition for smooth scaling */
  transform-origin: left center; /* Scale from the left side */
}

.start:hover {
  background-color: #83158b; /* Fill background on hover */
}

.lp-img {
  background-color: transparent;
  flex: 0.35;
  width: 10rem;
  max-width: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 1440px) {
  .intro-container {
    padding: 7rem 5rem;
  }

  .lp-sec1 {
    padding: 2rem 0;
  }

  .lp-content h1 {
    font-size: 1.8rem;
  }

  .lp-content p {
    font-size: 1rem;
  }

  .btn {
    margin: 2px 0;
    width: 70%;
    padding: 8px 10px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 426px) {
  .intro-container {
    padding: 2rem 1rem;
  }

  .lp-sec1 {
    flex-direction: column;
    gap: 1rem;
  }

  .lp-content {
    gap: 7px;
    align-items: center;
  }

  .lp-content h1 {
    font-size: 1rem;
  }

  .lp-content p {
    font-size: 0.8rem;
  }

  .start {
    font-size: x-small;
    padding: 8px 10px;
  }

  .lp-img {
    width: 10rem;
    margin-top: 10px;
  }
}
