.lp-security {
  padding: 4rem 10rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  color: #f0f0f0;
  text-align: center;
  width: 100%;
}

.lp-security p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #d0d0d0;
  max-width: 700px;
  margin: 0 auto;
  background-color: transparent;
}

.lp-security:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1440px) {
  .lp-security {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .lp-security {
    padding: 1rem 2rem;
  }
  .lp-security p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 376px) {
  .lp-security {
    padding: 1rem 2rem;
  }
}
