.lp-team {
  padding: 5rem 10rem;
  width: 100%;
  background-color: rgb(14, 14, 14);
}

.team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.team-member {
  background-color: rgb(23, 23, 23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 200px;
  border-radius: 5px;
}

.team-img {
  background-color: inherit;
  width: 200px;
}

.team-member h3 {
  background-color: inherit;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 10px 0;
}

.team-member p {
  background-color: inherit;
  font-weight: lighter;
  font-size: small;
}

@media only screen and (max-width: 1025px) {
  .lp-team {
    padding: 3rem 6rem;
  }

  .team-members {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
  }

  .team-member {
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 160px;
    border-radius: 5px;
    gap: 0.5rem;
    padding: 1rem;
  }

  .team-img {
    width: 130px;
  }

  .team-member h3 {
    background-color: inherit;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: small;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .lp-team {
    padding: 3rem 2rem;
  }

  .team-members {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 0;
  }

  .team-member {
    height: 150px;
    width: 120px;
    gap: 0.5rem;
  }

  .team-member img {
    display: none;
  }

  .team-member h3 {
    background-color: inherit;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: smaller;
  }

  .team-member p {
    background-color: inherit;
    font-size: x-small;
  }
}
