@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #161616;
  color: white;
  font-family: "Source Sans 3", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.maindiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background: linear-gradient(to right, #252525, #3c3c3c, #252525);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}

.navbar-logo {
  background-color: inherit;
  margin: 0 10px;
}

.btn {
  background-color: #83158b;
  color: #eddfdf;
  padding: 10px 30px;
  font-size: large;
  cursor: pointer;
  margin: 5px 0;
  width: 50%;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #9f16a9;
}

.divider {
  border: none;
  height: 2px;
  background-color: #3a3a3a;
  margin: 2px 0;
  width: 80%;
}

.input-div {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #5b5b5b;
  border-radius: 4px;
  box-sizing: border-box;
}

.mui-icons {
  background-color: #161616;
}

@media only screen and (max-width: 600px) {
  .maindiv {
    width: 100vw; /* Full viewport width */
  }

  .navbar {
    height: auto; /* Adjust height for smaller screens */
    padding: 10px;
    width: 90vw; /* Full viewport width */
    margin: 1rem; /* Remove margins on mobile */
    font-size: 0.7rem;
  }

  .btn {
    width: 100%; /* Make the button take full width on mobile */
    padding: 8px 20px; /* Reduce padding for better fit */
    font-size: 0.8rem; /* Adjust font size for readability on small screens */
  }

  h2 {
    font-size: 1.2rem;
  }

  h1,
  p {
    font-size: 0.9rem; /* Scale down text for smaller screens */
    text-align: center; /* Center text for a cleaner look on mobile */
  }

  .lp-sec1 {
    flex-direction: column; /* Stack the content vertically */
    gap: 1rem; /* Reduce gap between elements for mobile */
    width: 100vw; /* Ensure full width */
  }

  .lp-img {
    width: 80%; /* Adjust image width for mobile */
    margin: 0 auto; /* Center image */
  }

  .lp-content {
    padding: 0 10px; /* Add some padding around text */
    width: 100vw; /* Ensure full width */
  }
}
