.lp-container h2 {
  text-align: center;
  background-color: inherit;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.lp-container {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0;
  width: 100%;
}

.process-container,
.services-container,
.security-container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.services-container {
  height: 500px;
}

.security-container {
  height: 300px;
}

.react-parallax {
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .lp-container {
    padding: 0;
  }
}

@media only screen and (max-width: 600px) {
  .lp-container {
    padding: 0;
  }

  .process-container {
    height: 350px;
    padding: 20px;
  }

  .services-container {
    padding: 8rem 0;
  }

  .security-container {
    height: 400px;
  }
}
