.lp-container {
  background-color: #292929;
  margin: 0 15px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  flex-grow: 1;
  flex-direction: column;
}

.lp-sec1 {
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 10rem 15rem;
  width: 100%;
}

.lp-content {
  background-color: inherit;
  flex: 0.7;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  max-width: 100%;
}

.lp-content h1 {
  background-color: inherit;
  font-weight: bold;
  font-size: 2.5rem;
}

.lp-content p {
  background-color: inherit;
  font-weight: lighter;
  font-size: larger;
  margin-bottom: 10px;
}

.start {
  background-color: transparent;
  border: 2px solid #83158b;
  display: inline-block;
  width: auto;
  max-width: 400px;
  transition: transform 0.2s ease; /* Add transition for smooth scaling */
  transform-origin: left center; /* Scale from the left side */
}

.start:hover {
  background-color: #83158b; /* Fill background on hover */
}

.lp-img {
  background-color: inherit;
  flex: 0.3;
  width: 10rem;
  max-width: 100%;
}

.lp-sec2 {
  background-color: rgb(34, 34, 34);
  padding: 4rem 0;
  width: 100%;
}

.item-group {
  background-color: inherit;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.item-circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b2b0b0;
  font-size: 1.8rem;
}

.item-title {
  font-size: large;
  background-color: inherit;
  color: #c2c0c0;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1440px) {
  .lp-container {
    padding: 0;
  }

  .lp-sec1 {
    gap: 0.2rem;
    padding: 6rem 10rem;
    margin: 0 1.5rem;
  }

  .lp-content {
    align-items: left;
  }

  .lp-content h1 {
    font-size: 1.8rem;
  }

  .lp-content p {
    font-size: 1rem;
  }

  .btn {
    margin: 2px 0;
    width: 70%;
    padding: 8px 10px;
    font-size: 1rem;
  }

  .lp-img {
    width: 10rem;
    margin-top: 10px;
  }

  .item-group {
    flex-direction: row;
    gap: 3rem;
  }

  .item {
    gap: 15px;
  }

  .item-circle {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }

  .item-title {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 600px) {
  .lp-container {
    padding: 0;
  }

  .lp-sec1 {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 0;
    margin: 0 1.5rem;
  }

  .lp-content {
    gap: 7px;
    align-items: center;
    padding: 0 2rem;
  }

  .lp-content h1 {
    font-size: 1rem;
  }

  .lp-content p {
    font-size: 0.9rem;
  }

  .btn {
    margin: 2px 0;
    width: 70%;
    padding: 8px 10px;
    font-size: 0.7rem;
  }

  .lp-img {
    width: 8rem;
    margin-top: 10px;
  }

  .item-group {
    gap: 1.4rem;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .item {
    flex: 1 1 100%;
    gap: 10px;
  }

  .item-circle {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .item-title {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 376px) {
  .lp-sec1 {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 2rem;
  }

  .lp-content {
    gap: 7px;
    align-items: center;
    padding: 0;
  }

  .lp-content h1 {
    font-size: 1.2rem;
  }

  .lp-content p {
    font-size: 0.9rem;
  }
}
